<!DOCTYPE html>
<html lang="en">
 <div class="col col-4 col-d-6 col-t-12">
  <div class="widget widget-search">
    <div class="widget__head">
      <h3 class="widget__title">{{ .Site.Params.mailchimp.mailchimp__title }}</h3>
    </div>
    {{ if .Site.Params.mailchimp.mailchimp__text }}
    <p class="search-subtitle">{{ .Site.Params.mailchimp.mailchimp__text }}</p>
    {{ end }}
   <div id="logo">  <img src="https://i.postimg.cc/yxzRtTFg/R.png" alt="Bing search" id="logo"> </div>
    <form class="search-form validate"
      action="https://cn.bing.com/search" method="get"
      id="membedded-search-form" name="membedded-search-form" target="_self" >
      <div class="search-group">
        <div class="search-group-top">
          <input class="Search bing" id="search bing" type="text" name="text" placeholder="请输入要搜索的内容：" autofocus>
          <button class="subscribe-button button button--primary" id="membedded-search-form" type="submit"
            name="search">{{ .Site.Params.mailchimp.mailchimp__button__text }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
</html>
